@font-face {
    font-family: 'Quicksand';
    src: url('./quicksand-regular.woff') format('woff'), url('./quicksand-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('./quicksand-700.woff') format('woff'), url('./quicksand-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
